@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import "~bootstrap/scss/bootstrap"; */

:root {
    --purple: #8b5cf6;
    --bs-gradient: linear-gradient(90deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-btn-focus-shadow-rgb:  rgba(255, 255, 255, 0.15);
    
    
    
  }

  .multi_bg_example {
    width: 100%;
    height:100%;
    background-image:  linear-gradient(to right, rgba(30, 75, 115, 1), rgba(255, 255, 255, 0));
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position:
      bottom right,
      left,
      right;
    background:
      -moz-linear-gradient(
        to right,
        rgba(30, 75, 115, 1),
        rgba(255, 255, 255, 0)
      ),
      -webkit-gradient(to right, rgba(30, 75, 115, 1), rgba(255, 255, 255, 0)),
      -ms-linear-gradient(to right, rgba(30, 75, 115, 1), rgba(255, 255, 255, 0)),
      linear-gradient(to right, rgba(30, 75, 115, 1), rgba(255, 255, 255, 0));
  }
  

.custom-element {
    color: var(--purple);


}

.btn-flat {
    background-color: #7c3aed;
    color: white;
    opacity: 0.8;
   
    
  
   
}
.btn-flat:hover{
    background-color: #360092;
    color: rgb(250, 248, 248);
    
  
   
}

.shadow{
    /* box-shadow: 12px 19px 22px 27px rgba(0,0,0,0.43);
    -webkit-box-shadow: 12px 19px 22px 27px rgba(0,0,0,0.43);
    -moz-box-shadow: 12px 19px 22px 27px rgba(0,0,0,0.43); */
    box-shadow: 2px 9px 22px 58px rgba(168,21,237,0.43);
-webkit-box-shadow: 2px 9px 22px 58px rgba(168,21,237,0.43);
-moz-box-shadow: 2px 9px 22px 58px rgba(168,21,237,0.43);
   
}
.text-shadow{
    text-shadow: 4px 4px 2px #7c3aed;
}
  
.font-home{
    font-family: 'Cinzel', serif;
}
.loader {
  margin: 100px auto;
  font-size: 25px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load5 1.1s infinite ease;
  animation: load5 1.1s infinite ease;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #af3198, 1.8em -1.8em 0 0em rgba(175,49,152, 0.2), 2.5em 0em 0 0em rgba(175,49,152, 0.2), 1.75em 1.75em 0 0em rgba(175,49,152, 0.2), 0em 2.5em 0 0em rgba(175,49,152, 0.2), -1.8em 1.8em 0 0em rgba(175,49,152, 0.2), -2.6em 0em 0 0em rgba(175,49,152, 0.5), -1.8em -1.8em 0 0em rgba(175,49,152, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(175,49,152, 0.7), 1.8em -1.8em 0 0em #af3198, 2.5em 0em 0 0em rgba(175,49,152, 0.2), 1.75em 1.75em 0 0em rgba(175,49,152, 0.2), 0em 2.5em 0 0em rgba(175,49,152, 0.2), -1.8em 1.8em 0 0em rgba(175,49,152, 0.2), -2.6em 0em 0 0em rgba(175,49,152, 0.2), -1.8em -1.8em 0 0em rgba(175,49,152, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(175,49,152, 0.5), 1.8em -1.8em 0 0em rgba(175,49,152, 0.7), 2.5em 0em 0 0em #af3198, 1.75em 1.75em 0 0em rgba(175,49,152, 0.2), 0em 2.5em 0 0em rgba(175,49,152, 0.2), -1.8em 1.8em 0 0em rgba(175,49,152, 0.2), -2.6em 0em 0 0em rgba(175,49,152, 0.2), -1.8em -1.8em 0 0em rgba(175,49,152, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(175,49,152, 0.2), 1.8em -1.8em 0 0em rgba(175,49,152, 0.5), 2.5em 0em 0 0em rgba(175,49,152, 0.7), 1.75em 1.75em 0 0em #af3198, 0em 2.5em 0 0em rgba(175,49,152, 0.2), -1.8em 1.8em 0 0em rgba(175,49,152, 0.2), -2.6em 0em 0 0em rgba(175,49,152, 0.2), -1.8em -1.8em 0 0em rgba(175,49,152, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(175,49,152, 0.2), 1.8em -1.8em 0 0em rgba(175,49,152, 0.2), 2.5em 0em 0 0em rgba(175,49,152, 0.5), 1.75em 1.75em 0 0em rgba(175,49,152, 0.7), 0em 2.5em 0 0em #af3198, -1.8em 1.8em 0 0em rgba(175,49,152, 0.2), -2.6em 0em 0 0em rgba(175,49,152, 0.2), -1.8em -1.8em 0 0em rgba(175,49,152, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(175,49,152, 0.2), 1.8em -1.8em 0 0em rgba(175,49,152, 0.2), 2.5em 0em 0 0em rgba(175,49,152, 0.2), 1.75em 1.75em 0 0em rgba(175,49,152, 0.5), 0em 2.5em 0 0em rgba(175,49,152, 0.7), -1.8em 1.8em 0 0em #af3198, -2.6em 0em 0 0em rgba(175,49,152, 0.2), -1.8em -1.8em 0 0em rgba(175,49,152, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(175,49,152, 0.2), 1.8em -1.8em 0 0em rgba(175,49,152, 0.2), 2.5em 0em 0 0em rgba(175,49,152, 0.2), 1.75em 1.75em 0 0em rgba(175,49,152, 0.2), 0em 2.5em 0 0em rgba(175,49,152, 0.5), -1.8em 1.8em 0 0em rgba(175,49,152, 0.7), -2.6em 0em 0 0em #af3198, -1.8em -1.8em 0 0em rgba(175,49,152, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(175,49,152, 0.2), 1.8em -1.8em 0 0em rgba(175,49,152, 0.2), 2.5em 0em 0 0em rgba(175,49,152, 0.2), 1.75em 1.75em 0 0em rgba(175,49,152, 0.2), 0em 2.5em 0 0em rgba(175,49,152, 0.2), -1.8em 1.8em 0 0em rgba(175,49,152, 0.5), -2.6em 0em 0 0em rgba(175,49,152, 0.7), -1.8em -1.8em 0 0em #af3198;
  }
}
@keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #af3198, 1.8em -1.8em 0 0em rgba(175,49,152, 0.2), 2.5em 0em 0 0em rgba(175,49,152, 0.2), 1.75em 1.75em 0 0em rgba(175,49,152, 0.2), 0em 2.5em 0 0em rgba(175,49,152, 0.2), -1.8em 1.8em 0 0em rgba(175,49,152, 0.2), -2.6em 0em 0 0em rgba(175,49,152, 0.5), -1.8em -1.8em 0 0em rgba(175,49,152, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(175,49,152, 0.7), 1.8em -1.8em 0 0em #af3198, 2.5em 0em 0 0em rgba(175,49,152, 0.2), 1.75em 1.75em 0 0em rgba(175,49,152, 0.2), 0em 2.5em 0 0em rgba(175,49,152, 0.2), -1.8em 1.8em 0 0em rgba(175,49,152, 0.2), -2.6em 0em 0 0em rgba(175,49,152, 0.2), -1.8em -1.8em 0 0em rgba(175,49,152, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(175,49,152, 0.5), 1.8em -1.8em 0 0em rgba(175,49,152, 0.7), 2.5em 0em 0 0em #af3198, 1.75em 1.75em 0 0em rgba(175,49,152, 0.2), 0em 2.5em 0 0em rgba(175,49,152, 0.2), -1.8em 1.8em 0 0em rgba(175,49,152, 0.2), -2.6em 0em 0 0em rgba(175,49,152, 0.2), -1.8em -1.8em 0 0em rgba(175,49,152, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(175,49,152, 0.2), 1.8em -1.8em 0 0em rgba(175,49,152, 0.5), 2.5em 0em 0 0em rgba(175,49,152, 0.7), 1.75em 1.75em 0 0em #af3198, 0em 2.5em 0 0em rgba(175,49,152, 0.2), -1.8em 1.8em 0 0em rgba(175,49,152, 0.2), -2.6em 0em 0 0em rgba(175,49,152, 0.2), -1.8em -1.8em 0 0em rgba(175,49,152, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(175,49,152, 0.2), 1.8em -1.8em 0 0em rgba(175,49,152, 0.2), 2.5em 0em 0 0em rgba(175,49,152, 0.5), 1.75em 1.75em 0 0em rgba(175,49,152, 0.7), 0em 2.5em 0 0em #af3198, -1.8em 1.8em 0 0em rgba(175,49,152, 0.2), -2.6em 0em 0 0em rgba(175,49,152, 0.2), -1.8em -1.8em 0 0em rgba(175,49,152, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(175,49,152, 0.2), 1.8em -1.8em 0 0em rgba(175,49,152, 0.2), 2.5em 0em 0 0em rgba(175,49,152, 0.2), 1.75em 1.75em 0 0em rgba(175,49,152, 0.5), 0em 2.5em 0 0em rgba(175,49,152, 0.7), -1.8em 1.8em 0 0em #af3198, -2.6em 0em 0 0em rgba(175,49,152, 0.2), -1.8em -1.8em 0 0em rgba(175,49,152, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(175,49,152, 0.2), 1.8em -1.8em 0 0em rgba(175,49,152, 0.2), 2.5em 0em 0 0em rgba(175,49,152, 0.2), 1.75em 1.75em 0 0em rgba(175,49,152, 0.2), 0em 2.5em 0 0em rgba(175,49,152, 0.5), -1.8em 1.8em 0 0em rgba(175,49,152, 0.7), -2.6em 0em 0 0em #af3198, -1.8em -1.8em 0 0em rgba(175,49,152, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(175,49,152, 0.2), 1.8em -1.8em 0 0em rgba(175,49,152, 0.2), 2.5em 0em 0 0em rgba(175,49,152, 0.2), 1.75em 1.75em 0 0em rgba(175,49,152, 0.2), 0em 2.5em 0 0em rgba(175,49,152, 0.2), -1.8em 1.8em 0 0em rgba(175,49,152, 0.5), -2.6em 0em 0 0em rgba(175,49,152, 0.7), -1.8em -1.8em 0 0em #af3198;
  }
}

