@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import "~bootstrap/scss/bootstrap"; */

:root {
    --purple: #8b5cf6;
    --bs-gradient: linear-gradient(90deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-btn-focus-shadow-rgb:  rgba(255, 255, 255, 0.15);
    
    
    
  }

  .multi_bg_example {
    width: 100%;
    height:100%;
    background-image:  linear-gradient(to right, rgba(30, 75, 115, 1), rgba(255, 255, 255, 0));
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position:
      bottom right,
      left,
      right;
    background:
      -moz-linear-gradient(
        to right,
        rgba(30, 75, 115, 1),
        rgba(255, 255, 255, 0)
      ),
      -webkit-gradient(to right, rgba(30, 75, 115, 1), rgba(255, 255, 255, 0)),
      -ms-linear-gradient(to right, rgba(30, 75, 115, 1), rgba(255, 255, 255, 0)),
      linear-gradient(to right, rgba(30, 75, 115, 1), rgba(255, 255, 255, 0));
  }
  

.custom-element {
    color: var(--purple);


}

.btn-flat {
    background-color: #7c3aed;
    color: white;
    opacity: 0.8;
   
    
  
   
}
.btn-flat:hover{
    background-color: #360092;
    color: rgb(250, 248, 248);
    
  
   
}

.shadow{
    /* box-shadow: 12px 19px 22px 27px rgba(0,0,0,0.43);
    -webkit-box-shadow: 12px 19px 22px 27px rgba(0,0,0,0.43);
    -moz-box-shadow: 12px 19px 22px 27px rgba(0,0,0,0.43); */
    box-shadow: 2px 9px 22px 58px rgba(168,21,237,0.43);
-webkit-box-shadow: 2px 9px 22px 58px rgba(168,21,237,0.43);
-moz-box-shadow: 2px 9px 22px 58px rgba(168,21,237,0.43);
   
}
.text-shadow{
    text-shadow: 4px 4px 2px #7c3aed;
}
  
.font-home{
    font-family: 'Cinzel', serif;
}

